[Unit]
Description=Horcrux Monitoring
After=network.target

[Service]
Type=simple
User=horcrux
ExecStart=/usr/bin/python3 -m horcrux_monitor --config /etc/horcrux-monitoring/config.yaml
EnvironmentFile=-/etc/horcrux-monitoring/env
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
